
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env

 git config --global user.email "tejakrishna1106@gmail.com"
  git config --global user.name "tejakrishna1106"
